@import "/app/mixins.scss";

.searchSection {
  --searching-template-rows: min-content min-content;
  --searching-opacity: 1;

  margin-top: calc(var(--navbar-height) * 1.25);
  display: grid;
  row-gap: 8px;

  grid-template-rows: var(--searching-template-rows);
  overflow: hidden;

  @include transition(grid-template-rows);

  .upperRow {
    overflow: hidden;
    display: flex;
    column-gap: 16px;
    align-items: center;

    .profileHolder {
      width: clamp(36px, calc(var(--icon-size) * 1.1), 42px);
      height: clamp(36px, calc(var(--icon-size) * 1.1), 42px);
      aspect-ratio: 1 / 1;
      opacity: var(--searching-opacity);
      @include transition(opacity);

      .profileIcon {
        border-radius: 50%;
        @include next-image;
      }
    }
    .title {
      opacity: var(--searching-opacity);
      @include transition(opacity);
    }
  }
}

.lowerRow {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
