@import "/app/mixins.scss";

.container {
  display: flex;
  align-items: center;
  overflow: hidden;
  column-gap: 12px;
  padding: 4px;
  padding-left: 6px;
  background-color: var(--first-bg);
  border-radius: 4px;
  border: var(--second-clr-transparent) solid 1px;

  .iconHolder {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 4px;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
  }

  .rightIcons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 8px;
    column-gap: 16px;

    .favoriteIconHolder {
      background: transparent;
      width: calc(var(--icon-size) * 1);
      height: calc(var(--icon-size) * 1);
      padding: calc(var(--icon-size) * 0.25);
      aspect-ratio: 1 / 1;
      .favoriteIcon {
        @include image-bg-active;
        @include next-image;
      }
    }

    .arrowHolder {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      background-color: transparent;
      aspect-ratio: 1 / 1;
      width: calc(var(--icon-size) * 1);
      height: calc(var(--icon-size) * 1);

      .arrow {
        @include image-bg;
        @include next-image(50%);
      }
    }
  }
}
