@import "/app/mixins.scss";

.container {
  display: flex;
  align-items: center;

  max-width: calc(450px - 2px);
  border-radius: 4px;
  border: var(--second-clr-transparent) solid 1px;

  background-color: var(--first-bg);
  font-size: 1rem;

  .searchIconHolder {
    padding: 2px;
    width: 28px;
    height: 28px;
  }
  .border {
    height: 1rem;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--second-clr);
    width: 4px;
  }

  .searchIcon {
    @include image-bg;
    @include next-image;
  }

  .searchBar {
    font-size: 1rem;
    background-color: var(--first-bg);
    flex: 1;
    border: 0;
    outline: 0;
  }
}
