@import "/app/mixins.scss";

.container {
  display: flex;
  align-items: center;

  overflow: hidden;
  column-gap: 12px;
  padding: 8px;
  padding-left: 10px;
  background-color: var(--first-bg);
  border-radius: 4px;
  border: var(--second-clr-transparent) solid 1px;

  .iconHolder {
    width: calc(var(--icon-size) * 1.5);
    height: calc(var(--icon-size) * 1.5);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textHolder {
    > h3 {
      padding-bottom: 4px;
    }
    > p {
      padding-top: 4px;
      line-height: 0;
    }
  }

  .rightIcons {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 4px;
    column-gap: 16px;

    .favoriteIconHolder {
      background: transparent;
      width: calc(var(--icon-size) * 1);
      height: calc(var(--icon-size) * 1);
      padding: calc(var(--icon-size) * 0.25);
      .favoriteIcon {
        @include image-bg-active;
        @include next-image;
      }
    }

    .arrowHolder {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-left: auto;
      background-color: transparent;
      width: calc(var(--icon-size) * 1);
      height: calc(var(--icon-size) * 1);

      .arrow {
        @include image-bg;
        @include next-image(50%);
      }
    }
  }
}
