@mixin square($border-radius: 0%) {
  border-radius: $border-radius;
  aspect-ratio: 1 / 1;
}

@mixin next-image($optionalSize: 100%) {
  width: $optionalSize;
  height: $optionalSize;
}
@mixin image-bg {
  filter: invert(49%) sepia(0%) saturate(98%) hue-rotate(272deg) brightness(102%) contrast(94%);
}
@mixin image-bg-active {
  filter: brightness(0) saturate(100%) invert(50%) sepia(50%) saturate(7493%) hue-rotate(195deg)
    brightness(104%) contrast(101%);
}

@mixin transition(
  $property: all,
  $duration: var(--transition-duration),
  $delay: 0s,
  $property2: all,
  $duration2: var(--transition-duration),
  $delay2: 0s
) {
  -webkit-transition: $property $duration ease-in-out $delay,
    $property2 $duration2 ease-in-out $delay2;
  -moz-transition: $property $duration ease-in-out $delay, $property2 $duration2 ease-in-out $delay2;
  -ms-transition: $property $duration ease-in-out $delay, $property2 $duration2 ease-in-out $delay2;
  -o-transition: $property $duration ease-in-out $delay, $property2 $duration2 ease-in-out $delay2;
  transition: $property $duration ease-in-out $delay, $property2 $duration2 ease-in-out $delay2;
}

@mixin theme-box {
  background: var(--first-bg);
  border-radius: 4px;
  border: var(--second-clr-transparent) solid 1px;
}

@mixin margin-y($size: 0px) {
  margin-top: $size;
  margin-bottom: $size;
}
@mixin margin-x($size: 0px) {
  margin-left: $size;
  margin-right: $size;
}
@mixin padding-y($size: 0px) {
  padding-top: $size;
  padding-bottom: $size;
}
@mixin padding-x($size: 0px) {
  padding-left: $size;
  padding-right: $size;
}
