@import "/app/mixins.scss";

.bottomMargin {
  margin-bottom: calc(var(--navbar-height) * 1.25);
}

.header {
  top: 0;
  border-color: var(--first-bg);
  border-bottom-width: 1px;
  background: var(--first-bg);
  backdrop-filter: blur(10px);

  @include transition(border-color, var(--transition-duration), 0s, background);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.75 * var(--navbar-height));
    .settingsHolder {
      @include square;
      width: var(--icon-size);
      height: var(--icon-size);
    }
    .settingsIcon {
      @include next-image;
    }
    .title {
      color: var(--first-text);
      font-weight: 600;
    }
  }
}

.headerActive {
  border-color: var(--second-bg);
  background: var(--first-bg), 0.5;

  @include transition(border-color, var(--transition-duration), 0s, background);
}
