@import "/app/mixins.scss";

.main {
  overflow: hidden;
}

.cardHolder {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 450px));
  column-gap: 12px;
  row-gap: 12px;
}

.noFavoritesFoundParagraph {
  line-height: 0;
}
