@import "/app/mixins.scss";

.main {
  display: grid;
  place-items: center;
  text-align: center;
  row-gap: 16px;

  div {
    display: flex;
    align-items: center;
    flex-direction: column;

    input {
      margin-top: 0.5rem;
      text-align: center;
      font-size: 0.9rem;
      width: 70svw;
      min-width: var(--min-width);
      max-width: var(--max-width);
      @include padding-y(1rem);
      @include theme-box;
    }
    p {
      color: var(--alert-bg);
      line-height: 0;
      @include margin-y(1rem);
    }
    button {
      --width-factor: 0.75;
      border-radius: 4px;
      color: var(--active-btn-text);
      background-color: var(--active-btn-bg);
      width: calc(70svw * var(--width-factor));
      min-width: calc(var(--min-width) * var(--width-factor));
      max-width: calc(var(--max-width) * var(--width-factor));
      font-weight: 600;
      font-size: 1.5rem;
      @include padding-y(0.5rem);
    }
  }
}
