@import "/app/mixins.scss";

.container {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: calc(var(--max-width) - 2px);
  min-width: calc(var(--min-width) - 2px);
  font-size: 1rem;

  @include theme-box;

  .searchIconHolder {
    padding: 2px;
    width: 28px;
    height: 28px;
    aspect-ratio: 1 / 1;
  }
  .border {
    height: 1rem;
    border-width: 0;
    border-left-width: 1px;
    border-style: solid;
    border-color: var(--second-clr);
    width: 8px;
  }

  .searchIcon {
    @include image-bg;
    @include next-image;
  }

  .searchBar {
    font-size: 1rem;
    background-color: var(--first-bg);
    border: 0;
    outline: 0;
    min-width: 0;
  }
}
