@import "@/app/mixins";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100svw;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: var(--second-bg);
  height: calc(var(--navbar-height) - 1px); //because of the border
  border-width: 0;
  border-bottom-width: 1px;

  border-color: var(--first-bg);
  border-style: solid;
  background: var(--first-bg);
  backdrop-filter: blur(10px);

  @include transition(border-color, background);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - var(--navbar-height));
  }

  .settingsHolder {
    @include square;
    width: calc(var(--navbar-height) / 1.5);
    height: calc(var(--navbar-height) / 1.5);
  }
  .settingsIcon {
    @include next-image;
  }
}

.headerActive {
  border-color: var(--second-bg);
  background: var(--first-bg), 0.5;

  @include transition(border-color, background);
}

.intersector {
  top: calc(var(--navbar-height) / 1.5);
  position: absolute;
}
