@import "/app/mixins.scss";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100svw;
  min-width: 350px;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  border-color: var(--second-bg);
  height: calc(var(--navbar-height) - 1px); //because of the border
  border-width: 0;
  border-bottom-width: 1px;

  border-color: var(--first-bg);
  border-style: solid;
  background: var(--first-bg);
  backdrop-filter: blur(10px);

  @include transition(border-color, var(--transition-duration), 0s, background);

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 0.75 * var(--navbar-height));
    .settingsHolder {
      @include square;
      width: var(--icon-size);
      height: var(--icon-size);
    }
    .settingsIcon {
      @include next-image;
    }
    .title {
      color: var(--first-text);
      font-weight: 600;
    }
  }
}

.headerActive {
  border-color: var(--second-bg);
  background: var(--first-bg), 0.5;

  @include transition(border-color, var(--transition-duration), 0s, background);
}

.intersector {
  top: var(--icon-size);
  position: absolute;
}
